/* =============common style=============== */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body{
    font-family: oswald;
    font-family: 'Lato',sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 1060px;
    margin: auto;
}
.topbar{
    margin-bottom: 50px;
    margin-top: 50px;
 
}
.content{
    background: #264653;
}
/*============ menubar =================*/
.menu{
    padding: 0;
    margin-top: 30px;  
}
.menu li{
    display: inline;
}
.menu li a{
    padding: 15px 20px;
    color: #fffff4;
    text-decoration: none;  
}

.menubar{
    display: flex;
    width: 650px; 
    margin-left: 750px;
}
.head-button{

    background: #e76f51;
    margin-left: 50px;
	border-radius: 5px;
	text-decoration: none;
    color: #fffff4;
	text-transform: capitalize;
    padding: 10px 15px;
}
/* ================menubar end================= */
.button{
    margin-top: 0px 20pxpx;
    background: #e76f51;
	border-radius: 5px;
	text-decoration: none;
	text-transform: capitalize;
    padding: 15px 50px;
    color: #fffff4;
}
span{
   color: #e76f51; 
    
}

.banner{
    width: 500px;
    margin-top: 60px;
    margin-right: 40px;
}
.banner h1{
    font-size: 3em;
    line-height: 0;
   margin-bottom: 50px;
}
.top-banner{
    width: 600px;
}
.top-banner img{
    width: 100%;
   margin-bottom: 50px;
   margin-left: 50px;
}
.banners{
    margin-top: 80px;
    display: flex;
    color:#fffff4 ;
    justify-content: center; 
}
.banner p{
    line-height: 25px;
   margin-bottom: 40px;
}
/* =======================header end============= */
/* ==============best-bike=================== */

.border{
    border-bottom: 3px solid #e76f51;
    width: 60px;
    margin: auto;
    margin-top: -12px;
}
.head-light{
   text-align: center;
   margin-top: 150px;
}
.head-light p{
   margin-top: -30px;
}
.head-light h1{
    font-size: 3em;
}

.bike{
    width: 300px;
    margin-left: 20px;
    padding: 20px;
}
.bike img{
    width: 100%;
    padding: 20px;
}
/* ===============latest-news======================= */
.head-title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 150px;
}

.title{
    padding: 20px;
    width: 330px;
    box-shadow: 0px 1px 5px #cecece;
    border-radius: 10px;
    padding-bottom: 40px;
    margin-right: 20px;
}
.title p{
    line-height: 30px;
    margin-bottom: 50px;
}
.title h1{
    font-size: 26px;
}
.title img{
    width: 100%;
}
.button1{
    background: #e76f51;
    text-decoration: none;
    color: #fffff4;
    padding: 20px 40px;
    border-radius: 10px;
}
.button2{
    width: 50px;
    text-decoration: none;
    color: #fffff4;
    padding: 20px 40px;
    border: 2px solid #e76f51;
    border-radius: 10px;
}
/* ===================happy clients=========== */
.bike1{
    width: 320px;
    border: 2px solid #cecece;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin-left: 20px;
}
.bike1 p{
   line-height: 30px;
}
.logo{
    width: 150px;
    margin: 0 auto;
}
.logo img{
    width: 100%;
}
.logo1{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 100%;
}

.logo1 img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.clients{
    color: blue;
}
.clients1{
    background: rgb(80, 178, 235);
    width: 55px;
    height: 25px;
    font-weight: bold;
    margin: 0 auto;
}
.clients2{
    font-weight: bold;
}
ul{
  display: flex; 
  margin: 10px;
}
ul li{
   list-style-type: none;
   font-size: 20px;
   padding: 5px;
  
   color: #e76f51; 
}
/* ================question================= */
.end-title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
}

.end{
    width: 450px;
    margin-right: 50px;
}
.end2{
    width: 450px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 50px;
}
.end img{
    width: 100%;
    padding: 20px;
}
/* ======================footer end====================== */
.container1{
    background: #0b0d17;
}
.end-title1{
    margin-top: 100px;
    margin-bottom: 100px;
}
.end-para{
    width: 1060px;
    color: white;
    display: flex;
    justify-content: space-between; 
    margin: 0 auto;
}
.end-image{
    width: 100px;
}
.end-image img{
    width: 100%;
}
/* ======================footer end====================== */